In [ ]:
#!/usr/bin/python
# -*- coding: utf-8 -*-
import MySQLdb as mdb
import sys
import operator
print ("stuff");
try:
    con = mdb.connect('opendata.missouri.edu', 'datascience', 'datascience', 'datascience'); 
    cur = con.cursor()
    
    cur.execute("SELECT count(*) FROM tweet WHERE job_id=4255")
    count = cur.fetchone()
    print ("There are %d tweets " % count)
    
    cur.execute("SELECT MIN(created_at) FROM tweet WHERE job_id=4255")
    first = cur.fetchone()
    print ("The first tweet was on %s " % count)
    
    cur.execute("SELECT MAX(created_at) FROM tweet WHERE job_id=4255")
    last = cur.fetchone()
    print ("The last tweet was on %s " % count)
    
    cur.execute("SELECT count(*) FROM tweet WHERE job_id=4255 GROUP BY YEAR(created_at), MONTH(created_at, DAY(created_at))")
    count_by_date = cur.fetchone()
    print ("The last tweet was on %s " % count)
    
    cur.execute("SELECT text FROM tweet WHERE job_id=4255")
    all_text = cur.fetchall()
    words=dict()
    for row in all_text:
        text=row[0].split(" ")
        for word in text:
            if word not in words:
                words[word]=1
            else:
                value=words.get(word)+1
                words[word]=value
    sorted_words=sorted(words.items(), key=operator.itemgetter(1))
    print sorted_words
    
    cur.execute("SELECT job_id, MONTH(created_at), count(*) FROM tweet GROUP BY job_id, MONTH(created_at)")
    counts = cur.fetchall()
    for row in counts:
        print row[0]
    
    
except mdb.Error as e:
  
    print ("Error %d: %s" % (e.args[0],e.args[1]))
    sys.exit(1)
    
if con:    
    con.close()

stuff
There are 248646 tweets

In [14]:
import MySQLdb as mdb
import sys
import operator

try:
    con = mdb.connect('opendata.missouri.edu', 'datascience', 'datascience', 'datascience'); 
    cur = con.cursor()
    
    cur.execute("explain tweet")
    tables = cur.fetchall()
    for row in tables:
        print row[0]
        
    cur.execute("SELECT job_id, MONTH(created_at), count(*) FROM tweet GROUP BY job_id, MONTH(created_at)")
    counts = cur.fetchall()
    for row in counts:
        print row[0]
    
    cur.execute("SELECT text FROM tweet WHERE job_id=4255")
    all_text = cur.fetchall()
    words=dict()
    for row in all_text:
        text=row[0].split(" ")
        for word in text:
            if word not in words:
                words[word]=1
            else:
                value=words.get(word)+1
                words[word]=value
    sorted_words=sorted(words.items(), key=operator.itemgetter(1))
    print sorted_words
    
except mdb.Error as e:
  
    print ("Error %d: %s" % (e.args[0],e.args[1]))
    sys.exit(1)
    
if con:    
    con.close()

tweet_id_str
job_id
created_at
text
from_user
from_user_id_str
from_user_name
from_user_fullname
from_user_followers
from_user_following
from_user_favorites
from_user_tweets
from_user_timezone
to_user
to_user_id_str
to_user_name
source
location_geo
location_geo_0
location_geo_1
iso_language
analysis_state